
body{
    width: 99%;
}

#site-title{
    text-align: center;
    padding: 4px;
    margin: 4px;
    display: inline;
}

#content-hold{
    width: 100%;
}

#queue_hold{
    position: relative;
    display: inline-block;
    width: 25%;
    min-height: 250px;
    max-height: 70%;
    border: black solid 3px;
    margin: -0px;
    margin-left: 3px;
    margin-right: 3px;
    box-sizing: border-box;

}

#form-hold{
    margin-left: auto;
    margin-right: auto;
    border: black solid 3px;
    padding: 8px;
    width: 300px;
}

#main_hold{
    position: absolute;
    margin-left: 6px;
    display: inline-block;
    min-height: 250px;
    max-height: 70%;
    border: black solid 3px;
    width: 73%;
    box-sizing: border-box;
}

#builds_hold{
    width: 100%;
    min-height: 100px;
}

.items_hold{
    overflow-y: auto;
    max-height: 200px;
}

p, a, h1, h2, h3, h4, h5{
    padding: 4px;
    margin-left: 8px;
    margin-top: 4px;
}

a.logout{

}

h4{
    border-bottom: black dashed 2px;
    margin: 8px;
}

/* login form */
.login-form, .form-label{
    width: 100%;
    box-sizing: border-box;
}

p.form-label{
    padding: 2px;
    margin: 0px;
    font-weight: bolder;
}

/* Task template    */
/* project template */
/* build template   */
#template-item-hold{
    border-bottom: black groove 1px;
    margin: 6px;
}

p.template-item-name{
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    text-transform: capitalize;
}

p.template-item-info{

}

a.template-item, a.template-item-inline{

}

a.template-item-inline{
    display: inline;
    font-size: 12px;
    color: #505050;
    border: 1px solid black;
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
}

a.template-item-inline:hover{
    color: #a0a0a0;
    border: 1px solid #707070;
}

a.template-item-inline:active{
    color: #202020;
    border: 1px solid black;
}

#link-no-href:hover{
    cursor: pointer;
}